html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

html{
    background: #2d2d2d;
    overflow-y: scroll;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
}

header > .home-menu{
    background: inherit !important;
    height: 54px;
    display: flex;
}

header > .home-menu > a.pure-menu-heading, header > .home-menu > ul, header > .home-menu > ul > li{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: normal !important;
}

header > .home-menu > a.pure-menu-heading{
    color: white;
    font-size: 1.5em;
}

header > .home-menu > ul > li > a{
    color: #ced4d9;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
    background: inherit !important;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.pure-menu-selected > a{
    color: white;
}

main{
    background-color: #ebf4fa;
    position: relative;
}

footer{
    text-align: center;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.8em;
    padding: 15px;
    line-height: 24px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer iframe{
    vertical-align: middle;
}
    #topStats {
        margin: 0 9px;
    }
    #topStats > div {
        display: flex;
    }
    #topStats > div > div {
        flex: 1 1 auto;
        margin: 18px 9px 0px 9px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .boxStatsHeader{
        font-size: 1.3em;
        margin: 0 0 5px 10px;
    }


    #boxStatsLeft{
        background-color: #b064e1;
    }
    #boxStatsRight{
        background-color: #10bb9c;
    }
    .boxStats{
        border: solid 0px #c7c7c7;
        color: white;
    }
    .boxStatsList{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        opacity: 0.77;
        margin-bottom: 5px;
        flex: 1 1 auto;
        align-content: center;
    }
    .boxStatsList i.fa{
        height: 15px;
        width: 33px;
        text-align: center;
    }
    .boxStatsList > div{
        padding: 5px 20px;
    }
    .boxStatsList > div > div{
        padding: 3px;
        text-transform: capitalize;
    }

    #timeSelector {
        padding-top: 25px;
        padding-bottom: 15px;
        text-align:center;
    }
    #bottomCharts{
        padding: 18px;
    }
    #bottomCharts > div > div > svg{
        display: block;
        height: 280px;
    }
    .chartWrapper{
        border: solid 1px #c7c7c7;
        padding: 5px;
        margin-bottom: 18px;
        display: block;
        text-align: -webkit-center;
    }
    #bottomTableStats {
        padding-bottom: 20px;
    }
    #statTable {
        margin: 0 auto;
        text-align: center;
        text-transform: capitalize;
    }
    #boxWelcome{
        background-color: #0eafc7;
        color: white;
        margin: 18px;
    }
    #logoImg{
        height: 285px;
        margin: 55px;
    }
    #welcomeText{
        font-size: 2.7em;
        margin: 50px 18px 10px 18px;
    }
    #welcomeItems{
        list-style-type: none;
        font-size: 1.3em;
        padding: 0 !important;
        margin: 0 0 0 18px !important;
    }
    #welcomeItems > li{
        margin: 30px !important;
    }
    #boxesLower {
        margin: 0 9px;
    }
    #boxesLower > div {
        display: flex;
    }
    #boxesLower > div > div {
        flex: 1 1 auto;
        margin: 0 9px 18px 9px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .boxLowerHeader{
        font-size: 1.3em;
        margin: 0 0 5px 10px;
    }


    #boxStatsLeft{
        background-color: #b064e1;
    }
    #boxStatsRight{
        background-color: #10bb9c;
    }
    .boxStats{
        color: white;
    }
    .boxStatsList{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        opacity: 0.77;
        margin-bottom: 5px;
        flex: 1 1 auto;
        align-content: center;
        text-transform: capitalize;
    }
    .boxStatsList i.fa{
        height: 15px;
        width: 33px;
        text-align: center;
    }
    .boxStatsList > div{
        padding: 5px 20px;
    }
    .boxStatsList > div > div{
        padding: 3px;
    }
